body {
  background-image: url("../img/background.png");
}
.navbar-header {
  background-color: #ff4e50;
}
.navbar .voucher-headers {
  font-size: 48px;
  color: #eee;
  font-family: "Paytone One", sans-serif;
}
body > nav.navbar.navbar-header > ul > li{
    display:inline-block;
}
.main-container {
  width: 100%;
  margin-bottom: 25px;
}
.text-muted:hover {
  cursor: pointer;
  text-decoration: underline;
}
.row {
  margin: 10px;
}
.post-container {
  border: solid 10px #ffcb85;
  background-color: #eee;
  margin: 2%;
  max-height: 100em;
}
.add-recommendation {
  border: solid 10px #ffcb85;
  background-color: #eee;
  margin: 2%;
  padding: 5%;
}
.add-comment{
  border: solid 1px #333;
  background-color: #fff;
  margin: 2%;
  padding: 5%;
  font-weight:bold;
}
.each-comment{
  border: solid 3px  #ffcb85;
  background-color: #fff;
  margin: 2%;
  padding: 5%;
}
.card {
  border-radius: 1.5%;
}
.card-text {
  overflow: hidden;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.btn {
  color: #444;
  background-color: #fff;
  margin: 2px;
}
.submit-comment{
  background-color: #cca26a;
  color:#fff;
}
.anchor-modal {
  display: block;
  color: #cca26a;
}
.hidden {
  display: none;
}
.card-columns {
    display: inline-block;
  }
    @media (min-width: 576px) {
      .card-columns {
          column-count:1;
      }
  }
  
  @media (min-width: 768px) {
      .card-columns {
          column-count: 2;
      }
  }
  
  @media (min-width: 992px) {
      .card-columns {
          column-count: 3;
      }
  }
  
  @media (min-width: 1200px) {
      .card-columns {
          column-count: 4;
      }
  }
  


/* footer{
    color:#aaa;
    text-align: center;
    background-color: #ff4e50;
    font-family:'Righteous', cursive;
} */
/* footer .btn{
    margin:15px;
} */
